[2022-03-07 06:42] BlackHole1 commented on #586
At the moment I see that the chromium team doesn't know how to reproduce the problem and I will go and talk to them.

[2022-03-07 10:49] BlackHole1 opened #1002 "Coverage Decrease Threshold for failure"
Errors will be reported even if the coverage is reduced by `0.01%`

This is too strict. Perhaps it would be better to adjust the threshold to `0.1%` or `0.05%`

Ses:
* https://github.com/electron/fiddle/pull/994
* https://github.com/electron/fiddle/pull/992

cc: @erickzhao

[2022-03-07 17:29] erickzhao commented on #1002
I believe only repo admins have access to the Coveralls settings. Can't access the Fiddle settings from my UI (@ckerr @codebytere or @felixrieseberg might have more luck).

[2022-03-10 13:56] Jassi10000 opened #1005 "Encountered a lil bug on the Electron Fiddle Page"
![image](https://user-images.githubusercontent.com/64856348/157676171-067a08b6-7822-4896-97f7-d0a13af47a0c.png)

On clicking the Github Icon , the page should be directed to
https://github.com/electron/fiddle

But instead it redirects to
https://github.com/electron
which I think needs to be changed , would love to hear views of the maintainers on this , if they allow i will even contribute to this

[2022-03-10 17:06] erickzhao commented on #1005
I don't think this is valid since it's the same navbar as everywhere on the site. IMO it'd be more confusing if this icon _did_ redirect to the Fiddle repo.

[2022-03-11 23:22] #258 closed

[2022-03-14 03:36] dsanders11 opened #1007 "Fiddle Doesn't Come to Foreground When Loading Fiddle From Browser"
Currently when opening a fiddle from the web browser, if Fiddle is already open, it will show you the "Are You Sure?" dialog, but it won't bring Fiddle to the foreground, so you wouldn't know it's doing so. On macOS it correctly comes to the foreground.

[2022-03-14 03:38] dsanders11 commented on #261
This seems to work now, other than the issue in #1007. I'm gonna close this since it mostly works.

[2022-03-14 03:38] #261 closed

[2022-03-14 03:41] dsanders11 opened #1008 "Can't Load Fiddle From Docs When Logged Into GitHub"
I'm logged into GitHub on Fiddle with a personal access token so I can publish gists. When I try to load a fiddle from the docs I get:

[code]

[2022-03-14 03:59] dsanders11 commented on #985
Looks the same on Windows, FYI.

[2022-03-14 06:12] Aminadad27 opened #1010 "(-)<!-->vector format for *(Aminadad27)"

[2022-03-14 06:14] Aminadad27 opened #1011 "(--)[Protones)--> (-)$inglevs doubled proton"

[2022-03-14 09:12] #1011 closed

[2022-03-14 09:13] #1010 closed

[2022-03-14 09:58] akgupta0777 commented on #725
is this still an issue ?

[2022-03-14 17:41] #725 closed

[2022-03-15 01:32] #949 closed

[2022-03-15 16:52] #977 closed

[2022-03-15 20:52] Aminadad27 opened #1014 "Printed by heart"

[2022-03-15 22:06] #1014 closed

[2022-03-15 23:21] dsanders11 commented on #1008
Authorizing the PAT with the Electron org is the easiest route here, and the scope of the token being just gists mostly eliminates any concerns around security.

[2022-03-15 23:21] #1008 closed

[2022-03-16 17:52] #965 closed

[2022-03-16 17:52] #966 closed

[2022-03-17 06:25] akgupta0777 opened #1016 "Stop or manage electron downloads in fiddle."
Currently if a user mistakenly download a different electron version there is no way to stop it. We also cannot manage electron installs like deleting electron installs.

![image](https://user-images.githubusercontent.com/51379307/158749321-7206ad29-0277-4c7c-9a66-1eb81d502e9e.png)

Clicking on the download button again while downloading should stop the download.

This feature may not be necessary

[2022-03-17 07:40] akgupta0777 commented on #1007
I have a question how the fiddle load the code from remote.
I mean [](https://fiddle.electronjs.org/launch?target=electron/v17.1.2/docs/fiddles/ipc/pattern-2) by opening this link in the browser `electron-fiddle://electron/v17.1.2/docs/fiddles/ipc/pattern-2 `the app is launched but how it loads the code ?

I checked the `remote loader` and it can load from gist but the above URL is not a gist its

[2022-03-17 17:39] dsanders11 commented on #1007
Hi @akgupta0777. The code for loading from the docs is [here](https://github.com/electron/fiddle/blob/main/src/renderer/remote-loader.ts#L57-L106) in `fetchExampleAndLoad`.

For this issue, however, the problem likely lies in the window management code and giving the window focus when the dialog is put up asking for confirmation, rather than the code for loading from the docs.

[2022-03-17 17:47] erickzhao commented on #1016
Managing the versions is already possible via the settings:
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/16010076/158863872-e3a05bb0-25b3-4da2-a603-7f3eab90bd43.png">

I think stopping it midway might be a nice little UX improvement though :)

[2022-03-18 00:12] dsanders11 commented on #1007
Yes, a fix will likely involve the `BrowserWindow` API.

[2022-03-18 05:34] dsanders11 opened #1017 "On Apple Silicon, Can't Download Pre-11.0 Versions"
I'm gonna start by saying I do know why this is, Electron [didn't start shipping Apple Silicon builds until 11.0](https://www.electronjs.org/blog/apple-silicon).

That said, the current experience is you click the download button, it spins, then goes back to saying download. Behind the scenes it's hitting a 404 when trying to download, looking for the `arm64` version.

I see two options to fix thi

[2022-03-20 12:34] daslicht commented on #68
how do you fixed it please?

[2022-03-20 12:41] daslicht commented on #68
removing nvm seam to work

[2022-03-20 13:05] daslicht commented on #365
how to solve that error ?

[2022-03-20 16:27] akgupta0777 commented on #245
Close this issue you cannot remove active versions now.

[2022-03-20 22:46] #985 closed

[2022-03-22 07:12] #989 closed

[2022-03-22 11:02] Ankuuush commented on #1017
Hey @dsanders11 I would like to work on this. Could you please guide me?

[2022-03-22 17:34] erickzhao commented on #1017
There's already a PR up for this issue @Ankuuush

[2022-03-22 21:22] Slapbox commented on #245
After upgrading from an older version that supported `13.x.x` to the newest version of Electron Fiddle, which supports a minimum of `14.0.0-beta.`, we are stuck on "Checking status" indefinitely no matter what we try so far.

@felixrieseberg

[2022-03-22 21:25] Slapbox commented on #245
Scratch that. We tried **Delete All Downloads** and it did nothing to fix the issue. Then we restarted Electron Fiddle and used **Delete All Downloads** a second time, then restarted again, and it resolved the issue.

[2022-03-22 22:33] erickzhao commented on #245
@Slapbox you can enable obsolete versions in the settings as well (sorry for unintuitive UX)

![image](https://user-images.githubusercontent.com/16010076/159587315-77a9945e-b95f-46ba-8085-4d791f4aeaa2.png)

[2022-03-24 16:49] #955 closed

[2022-03-25 10:00] #1007 closed

[2022-03-26 04:40] akgupta0777 opened #1023 "NodeJS module.parent is deprecated."
https://github.com/electron/fiddle/blob/50b6656690801882a9fc907669de3002199e4d9b/src/main/main.ts#L152

In the above line `module.parent` is deprecated. I read the node Docs and they have suggested this

![image](https://user-images.githubusercontent.com/51379307/160224841-14836806-6835-4ed6-ac4c-34d828a77fbe.png)

Should we refactor the code or keep it this way? Does using the deprecated one have

[2022-03-27 16:13] girishsontakke commented on #67
Hi @erickzhao, Can you please clarify whether we are expected to write a patch that would bring hot-reload in fiddle development or hot-reload with code executed within the fiddle or should we do both the things.

[2022-03-28 13:23] aryanshridhar opened #1024 "[BUG]: `Preference` Page style is incorrect on macOS"
Noticed this issue today of application header being still visible when the user opens `Preference` page :

<img width="805" alt="Screenshot 2022-03-28 at 6 48 20 PM" src="https://user-images.githubusercontent.com/53977614/160406339-c2e2b24f-3591-4b85-8421-79ba4f374955.png">

<strong>Platform</strong>: Mac OS
<strong>Platform Version</strong>: Monterey v12.1
<strong>Fiddle Version</strong>: v0.27.

[2022-03-28 13:26] aryanshridhar commented on #1024
This can be fixed by removing these CSS lines -

https://github.com/electron/fiddle/blob/50b6656690801882a9fc907669de3002199e4d9b/src/less/components/dialogs.less#L15-L19

Maybe they weren't removed after the new UI patch?

[2022-03-28 18:22] erickzhao commented on #1024
Yeah, I think this was a regression from a recent PR.

[2022-03-28 18:34] erickzhao commented on #1023
We can change it. :)

[2022-03-29 17:45] akgupta0777 opened #1027 "Use Typescript Decorators for binding this to class Methods."
Currently in a lot of files, Class Methods are defined and binded with `this` keyword so that the correct object gets referenced on calling.
An example of this -
https://github.com/electron/fiddle/blob/50b6656690801882a9fc907669de3002199e4d9b/src/renderer/bisect.ts#L9-L12

Since project is written in TypeScript we can use typescript **experimental decorators** on class Methods that will automatica

[2022-03-31 16:54] aryanshridhar commented on #1024
Cool, I will leave this open for any new comer to come and pick this small issue :)

[2022-03-31 16:57] aryanshridhar commented on #1016
Cool, Let me take a stab at it!

[2022-04-04 08:12] #907 closed

[2022-04-07 17:35] aryanshridhar commented on #1024
Closing this with ref to #1028.

[2022-04-07 17:35] #1024 closed

[2022-04-07 19:42] nornagon opened #1031 "[BUG]: version filter stays visible when entering preferences screen"
minor bug, but if you click the version selector and then press the keyboard shortcut to enter the preferences screen, the version filter remains visible:

![image](https://user-images.githubusercontent.com/172800/162283543-b840926a-b03d-4d6c-9a5d-02585019557f.png)

[2022-04-11 07:08] rahoolonly commented on #1031
Hey. Can anyone help me. I m a beginner and I want to contribute. How can I start?

[2022-04-11 07:17] rahoolonly commented on #1031
Hey. I am a beginner and I want to contribute. I know html, CSS, JavaScript and react also. Can anyone tell me how can I contribute?

[2022-04-11 08:15] BlackHole1 commented on #1031
Local launch:

[code]

Files related to this issue:
* https://github.com/electron/fiddle/blob/main/src/renderer/components/commands-version-chooser.tsx
* https://github.com/electron/fiddle/blob/main/src/renderer/components/version-select.tsx#L179-L218
* https://github.com/electron/fiddle/blob/main/src/renderer/components/settings.tsx

[2022-04-11 16:00] faiwer commented on #260
The same issue is on Mac with a dark mode. Chip: M1 Pro.

[2022-04-12 09:43] dsanders11 opened #1035 "Fiddle Can't Start If Active Local Electron Build Gone"
If the active Electron version is a local Electron build, and that directory disappears, Fiddle won't be able to start because it won't be able to read the directory. I found this out the hard way when I had a local build on a USB stick and said stick was removed. 🙂 In that case I could easily fix by reinserting it, but I think Fiddle would be effectively bricked and wouldn't start if you deleted

[2022-04-12 09:46] dsanders11 opened #1036 "Quitting Unsaved Fiddle Should Focus Window"
Same kind of issue as #1007, it's showing a "Are you sure?" modal but the window isn't focused so the behavior on macOS is trying to quit from the dock seems to have no effect since it's waiting for user input but the user can't see.

Fix should be simple, see #1018 for how #1007 was fixed.

[2022-04-12 20:47] #1023 closed

[2022-04-14 02:34] BlackHole1 commented on #1002
https://github.com/electron/fiddle/pull/1039#issuecomment-1098645773

[2022-04-14 02:34] #1002 closed

[2022-04-15 04:20] dsanders11 commented on #1036
Same issue on Linux.

[2022-04-15 12:57] eirikora opened #1043 "Every automatically downloaded upgrade fails to run. Claims the EXE now is an invalid picture file!"
I run Fiddle on a Windows 10 machine with Norwegian locale. Every now and then Fiddle claims it needs to restart to upgrade and every time it just will not restart. When I then try to start the Fiddle App from the start menu, I now get an error message claiming that the EXE file now is an invalid picture file for this type of machine. What?!
I have tried to run different versions but have to run t

[2022-04-15 16:19] erickzhao commented on #1043
Duplicate of #954

Sorry for the issues, we've been aware of it but a fix has not been pushed out 😬

[2022-04-15 16:19] #1043 closed

[2022-04-21 21:17] erickzhao opened #1045 "Upgrade to BlueprintJS 4"
The library hit 4.x stable major last month: https://github.com/palantir/blueprint/wiki/Blueprint-4.0

[2022-04-21 22:57] erickzhao opened #1046 "Upgrade to @sentry/electron v3"

[2022-04-21 23:20] miniak commented on #954
This is happening to me every time Fiddle auto-updates

[2022-04-21 23:21] miniak commented on #954
<img width="456" alt="Screen Shot 2022-04-22 at 1 17 21 AM" src="https://user-images.githubusercontent.com/1281234/164566600-9b53be7f-3662-436c-8a82-3becd060bc6c.png">

[2022-04-26 02:37] #1031 closed

[2022-05-02 13:45] aryanshridhar commented on #1045
Taking this and will also migrate to Popover2!

[2022-05-05 13:53] aryanshridhar opened #1065 "Loading fiddle cuts off the right action buttons"
When a fiddle is loaded using the `Load fiddle` button, the right actions button gets cut off the screen. I was left wondering for a minute that were did the popover button go!

<strong>Before:</strong>

<img width="1440" alt="Screenshot 2022-05-05 at 6 46 26 PM" src="https://user-images.githubusercontent.com/53977614/166937067-7e63d3f1-6628-4b68-a49d-345a278fb6bb.png">

<strong>After loading fidd

[2022-05-05 17:11] erickzhao commented on #1065
Yep, we should probably make this more responsive.

[2022-05-05 17:24] BlackHole1 commented on #1065
Maybe we can change it to an A tag? e.g.

[gist#git short hash]() -> [gist#abcd1234]()

[2022-05-05 18:23] aryanshridhar commented on #1065
This will look something like -
<img width="1358" alt="Screenshot 2022-05-05 at 11 49 17 PM" src="https://user-images.githubusercontent.com/53977614/166987901-ab8784f3-7072-469e-b2a0-d3b26a4998b5.png">

It works fine, but the user should have an atleast window width of ~1340 px. (If the user uses it in window size < 1340 px, the buttons will get cut again!)

[2022-05-06 07:17] BlackHole1 commented on #1065
Oh. I mean is `short hash`. e.g: `gist#94d865a4`, not long hash. 😄

[2022-05-06 09:53] aryanshridhar commented on #1065
Oh My bad! Was a long day!

[2022-05-09 13:54] codebytere opened #1066 "Add Local Electron Build dialog no longer renders correctly."
Logs show that it renders but it does not appear above the preferences pane.

I verified that this was caused by https://github.com/electron/fiddle/pull/1056.

[2022-05-09 15:43] codebytere commented on #1065
How necessary do we feel it is to have the full link there in the header at all? It can't be copied and i don't personally see much need for it given that i'm much more bothered by the buttons being cutoff 🤔

[2022-05-09 21:18] dsanders11 commented on #823
Closing this as we disabled downloads of pre-11.0.0 versions on Apple Silicon in #1019.

[2022-05-09 21:18] #823 closed

[2022-05-10 10:35] #1066 closed

[2022-05-10 11:31] BlackHole1 commented on #1065
I basically agree with you. However, sometimes I use this as a basis to determine if it is currently a gist project or not. Otherwise, I agree to remove it.

[2022-05-10 11:46] #956 closed

[2022-05-10 11:48] #1035 closed

[2022-05-10 16:51] aryanshridhar opened #1070 "`ContextMenu` should be disabled in Settings page"
Noticed a minor issue of the Right click `ContextMenu` which is can be seen in `Preference`/`Settings` page as well.

<img width="1185" alt="Screenshot 2022-05-10 at 10 04 39 PM" src="https://user-images.githubusercontent.com/53977614/167679743-8b23f856-4082-441b-afbe-f49b4b897750.png">

[2022-05-13 17:05] jonasmusall opened #1072 ""Machine Type Mismatch" after installing update"
I was using Fiddle and it received an automatic update to 0.28.1 (probably from 0.27.3 since that is the only other version I found to be installed on my machine). Now, I am not able to launch the application because I get the following message instead:

![Screenshot of error window](https://user-images.githubusercontent.com/69427105/168330992-0138c62c-94de-44cf-863f-fb0de3841866.png)

There seems

[2022-05-16 07:40] codebytere commented on #1072
Closed by https://github.com/electron/fiddle/pull/1071

[2022-05-16 07:40] #1072 closed

[2022-05-16 07:42] codebytere commented on #1070
@aryanshridhar would you be interested in opening a PR?

[2022-05-16 20:27] craxal opened #1073 "Fiddle does not list available Electron versions for Windows x64"
1. Launch Fiddle (Windows x64) and open Preferences.
2. Select Electron, check Stable and Beta.
3. Click Update Electron Release List.

**Expected**

A list of available Electron versions is shown.

**Actual**

Nothing is listed. I am unable to choose a different version of Electron to try. Uninstalling and reinstalling does nothing.

![image](https://user-images.githubusercontent.com/3473026/1686

[2022-05-19 19:19] aryanshridhar commented on #1070
Cool! Opening up a pr for it!

[2022-05-21 04:35] luciferXarya commented on #1070
@aryanshridhar  may I work on this issue?

[2022-05-21 19:04] erickzhao commented on #1070
It's already assigned to @aryanshridhar so I'd leave it to him.

[2022-05-23 08:03] codebytere opened #1078 "Font size and family don't update correctly"
Refs https://github.com/electron/fiddle/pull/1061 - they weren't added as observables so they're never update in localStorage.

[2022-05-23 09:48] #1078 closed

[2022-05-23 18:39] aryanshridhar commented on #1070
@arya-vats Sure go ahead!
I have already pushed the fix in my local branch earlier (https://github.com/aryanshridhar/fiddle/tree/Disable-ContextMenu)
Use it as an reference if you need it :)

[2022-05-24 16:10] erickzhao commented on #1078
my bad, i messed up the rebase 🙈

[2022-05-25 16:51] clavin opened #1080 "Title text on macOS can oversize the title bar"
E.g. when loading a gist, the gist URL is appended to the title making it very long and causing the app page to become wider than the viewport, causing some janky looking UI:

![broken fiddle UI](https://user-images.githubusercontent.com/9995434/170317277-d1417325-a28a-4988-8a43-16cbe299e7d6.png)

Two possible solutions, and possibly worth doing both:
* Rename or remove the URL from the title, res

[2022-05-25 19:37] clavin commented on #1080
Closing as dupe, filed this without searching during a WG releases meeting 😳

[2022-05-25 19:37] #1080 closed

[2022-05-26 08:01] codebytere commented on #1045
@aryanshridhar i assigned you - please let me know if you'd like me to remove assignment :)

[2022-05-26 17:35] craxal commented on #1073
Has the fix been shipped in a new version yet? This still isn't working for me as of 0.29.0

[2022-05-26 20:33] carolstran opened #1083 "Hover labels on file tree show up when settings are open"
👋🏼  I noticed when tabbing to your General Settings page that you can't navigate to the actual settings form. Instead, you end up tabbing through the elements on the main editor page. So then if you stop... you sometimes end up with funny floating labels like this:

![Settings page with a floating Toggle Visibility hover label in the middle.](https://user-images.githubusercontent.com/26869552/1705

[2022-05-26 20:35] carolstran commented on #1083
Same thing happens for the modules search input:

![Floating module search input on the settings page.](https://user-images.githubusercontent.com/26869552/170575568-018f3cf9-0ba0-4e87-ac16-78a07290a77c.png)

[2022-05-26 20:52] carolstran opened #1084 "Buttons don't have focus indicators"
While trying to tab around, I noticed that the buttons are lacking focus indicators. Not only does that make it really difficult to tell where on the page you are, but [it's also an accessibility issue](https://www.deque.com/blog/accessible-focus-indicators/) and could be unintentionally excluding people who are trying to use Fiddle.

Here's a screenshot from the Settings page with `:focus` stylin

[2022-05-26 20:55] carolstran opened #1085 "Inconsistent focus indicators throughout Fiddle"
👋🏼  While tabbing around, I noticed that the focus indicators are inconsistent:
* Text inputs with the `bp3-input` class have a default blue outline
* Some input elements have a `background-color: @foreground-2;` style applied on `focus` (which I'm guessing is meant to change the outline)
* Other focusable elements (like checkboxes) have an additional white outline
* https://github.com/electron/fi

[2022-05-26 21:12] carolstran opened #1087 "Heading levels should only increase by one"
There are a few places where the HTML of the headings doesn't follow logical order. This is an accessibility issue because it makes navigating more confusing for users of assistive technology ([see this deque article for more details](https://dequeuniversity.com/rules/axe/4.0/heading-order)).

Here's an example from the Settings page, where the main header is an `h2` element then the next header i

[2022-05-26 21:20] carolstran opened #1088 "Missing label on gist addressbar input"
On the top navigation, the gist addressbar input is available, but it doesn't have a corresponding label.

![Screenshot of the input element with no descriptive label.](https://user-images.githubusercontent.com/26869552/170581875-3ff18c49-53b7-42eb-9de2-c5a71198b3bb.png)

Even if you don't have the space to add a visible label to the UI, it's still important to provide a label and make the purpose

[2022-05-26 21:33] carolstran opened #1089 "Missing or incorrect input labels on Settings page"
On the Settings page, there are many inputs that don't have an accessible label.

From what I've seen in the codebase, there are a couple different reasons for this:
* Text that is styled as a label is actually an `h4` element
* The `FormGroup` element is being passed a `label` prop, but not a `labelFor` (see [Blueprint docs](https://blueprintjs.com/docs/#core/components/form-group))
* `label` ele

[2022-05-26 21:48] carolstran opened #1090 "Close (X) button in Settings not focusable at all"
When you go to any page in the Settings, there is an `X` that appears in the upper righthand corner. You can click that to exit this view, but it's not focusable at all when navigating with a keyboard.

![Screenshot of the top of the Executions page. In the corner you can see a white X.](https://user-images.githubusercontent.com/26869552/170585459-83da5865-0944-45fc-8ddf-a785b21d44b1.png)

This is

[2022-05-27 02:51] #454 closed

[2022-05-27 02:57] BlackHole1 commented on #1073
Hi @craxal 👋. This change is already in version 0.29.0.
The problem you are experiencing is bizarre and we have not received any reports of it from other users. 🥲
Do you have any proxy software turned on? Or have you tried changing your network? For example mobile WIFI?

Did you completely delete all the files and cache from fiddle when retesting?
You can try using something like https://crystalid

[2022-05-27 03:19] #1065 closed

[2022-05-27 12:18] Hanaffi commented on #1090
@codebytere Hey,
Coming from your tweet and referred by Keeley.
Can you please assign this to me?

[2022-05-27 12:20] Hanaffi commented on #1036
@dsanders11 @codebytere Please assign this to me too

[2022-05-27 12:52] Hanaffi commented on #1090
@codebytere Hey,
Coming from your tweet and referred by Keeley (@VerteDinde)
Can you please assign this to me?

[2022-05-27 13:27] #1084 closed

[2022-05-27 15:54] VerteDinde commented on #1090
Hey @Hanaffi! Please feel free to just submit a PR for this if you’d like to work on it.

[2022-05-27 16:07] VerteDinde commented on #1036
@Hanaffi Please just pick one issue to work on and submit a PR for that issue - particularly for issues labeled “Good First Issue”, we want to give others a chance to work on them 🙂 Once you’ve submitted/merged a PR for one issue, you’re welcome to take on another one!

[2022-05-27 18:14] craxal commented on #1073
@BlackHole1

No

I'm running on a desktop machine in my work office. Not much I can do to change it. I don't have this problem on other machines on the same network, however, so I doubt that's the problem.

This would also be my guess, that the cache still exists somewhere. I've uninstalled Fiddle several times, making sure to delete "electron-fiddle" from `%LOCALAPPDATA%`. Is the cache located el

[2022-05-28 15:53] Hanaffi commented on #1090
Sorry but my first time to play with Fiddle , What should I do after this?
Would it run on localhost or what? I dont see anything
![image](https://user-images.githubusercontent.com/35642947/170832938-f82290e9-cde8-4bfd-bc77-67af3b1c2627.png)

[2022-05-28 18:42] BlackHole1 commented on #1090
Local launch:

[code]

[2022-05-28 18:44] codebytere commented on #1090
@Hanaffi you can't run multiple versions of fiddle simultaneously - ensure you've quit all other instances before launching a local one.

[2022-05-28 19:08] Hanaffi commented on #1090
@BlackHole1  Yes thats what I actually did.

@codebytere It only ran once. Could WSL2 be the cause of this problem?
I'm using windows10 and WSL2 for development. but wsl2 doesnt allow GUI windows I guess. Its just a terminal AFAIR.
![image](https://user-images.githubusercontent.com/35642947/170839542-070664e3-c1d7-4754-830e-470a33443c66.png)

[2022-05-29 01:56] Hanaffi commented on #1090
Okk , It was WSL2 issue. handled it.

[2022-05-29 19:13] Hanaffi commented on #950
@codebytere I already submitted PR for the assigned issue. Can you assign me this?

[2022-05-30 18:38] erickzhao commented on #950
@Hanaffi I don't see a PR from you in the queue. 🤔

[2022-06-01 00:58] Hanaffi commented on #950
@erickzhao Its there: https://github.com/electron/fiddle/pull/1092  :)

[2022-06-01 00:58] Hanaffi commented on #950
@codebytere @erickzhao Can you give some hints on this one? IDK where to start

[2022-06-01 08:28] #1090 closed

[2022-06-04 20:20] Shekhar-Dangi commented on #1088
Hello sir, I want to work on this.
Do let me know if I can.

[2022-06-05 04:12] erickzhao commented on #1088
@Shekhar-Dangi PRs are welcome

[2022-06-06 06:10] mikeesto opened #1095 "Tooltip component is deprecated in Blueprint"
The Tooltip component has been deprecated in Blueprint in favour of Tooltip2.

Old Tooltip component with deprecation message: https://blueprintjs.com/docs/#core/components/tooltip
New Tooltip2 component: https://blueprintjs.com/docs/#popover2-package/tooltip2

Components that use Tooltip in fiddle:

- [settings-electron.tsx](https://github.com/electron/fiddle/blob/main/src/renderer/components/set

[2022-06-06 16:18] erickzhao commented on #1095
related: https://github.com/electron/fiddle/issues/1045

[2022-06-07 16:40] craxal commented on #1073
@erickzhao @BlackHole1 Can anyone please help me with this, please? This is blocking my ability to properly test/experiment/create Electron bug samples.

[2022-06-08 02:33] BlackHole1 commented on #1073
Please wait, I'm testing in a virtual machine to find the remaining files 🧐

[2022-06-08 02:40] BlackHole1 commented on #1073
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/8198408/172519456-07fa2928-d1f4-4fc8-8ea2-a2b61a92f5e6.png">

[2022-06-08 02:42] BlackHole1 commented on #1073
Do you try running `ipconfig /flushdns` command?

[2022-06-08 20:48] craxal commented on #1073
@BlackHole1 OK, so I realized I didn't have the "Not downloaded" option checked. Checking that option, and suddenly all the available versions popped up.

Functionally, I'm fine, no more problems. But that wasn't very intuitive for me. I'd suggest separating the "Not downloaded" option, since it's not related to the Stable/Beta/Nightly channels. I'd also suggest having the "Not downloaded" option

[2022-06-09 01:48] BlackHole1 opened #1097 "[refactor]: improve electron versions `not downloaded` option"
@BlackHole1 OK, so I realized I didn't have the "Not downloaded" option checked. Checked that option, and suddenly all the available versions popped up.

Functionally, I'm fine, no more problems. But that wasn't very intuitive for me. I'd suggest separating the "Not downloaded" option, since it's not related to the Stable/Beta/Nightly channels. I'd also suggest having the "Not downloaded" option s

[2022-06-09 01:50] BlackHole1 commented on #1073
Thank You for the suggestion. I created related issues: https://github.com/electron/fiddle/issues/1097

[2022-06-10 17:10] aryanshridhar opened #1100 "GSoC'22 - Proposed methodologies for enabling `contextIsolation`"
Hey team,
Thanks for having me as a part of GSoC'22 program where I will be refactoring fiddle to latest security standards by enabling `contextIsolation` and thus removing the Node environment from the renderer process.

Here's a high-level description of the project and I will also be listing out the proposed methodologies to tackle the same [(link to my proposal)](https://summerofcode.withgoogl

[2022-06-11 07:07] sanz17 commented on #1087
hello @carolstran could you pls assign me the issue. I would like to work on it

[2022-06-14 11:13] codebytere opened #1102 "Fiddle tries to add `electron-nightly` as a standalone module from `package.json`"
To Repro:

1. Load https://gist.github.com/0b7c9b5aed0119b09ffece7592aaa909
2. Observe `electron-nightly` gets added to modules:
<img width="266" alt="Screen Shot 2022-06-14 at 1 13 13 PM" src="https://user-images.githubusercontent.com/2036040/173564631-06b0d8c6-7377-46f7-957f-9c62e99d1027.png">

[2022-06-14 11:26] #1087 closed

[2022-06-15 11:56] #1089 closed

[2022-06-17 10:45] punndcoder28 commented on #1027
Hey. I'd like to take this up if this has not already been solved or if you guys have still not moved into functional component. I propose we write a decorator function like this
[code]

Do let me know if this is the right way and would be happy to contribute

[2022-06-21 11:37] aryanshridhar opened #1111 "Black screen when navigating to Bisect helper"
Fiddle displays an blank screen when one navigates to the Bisect page -

![Screenshot 2022-06-21 at 5 05 42 PM](https://user-images.githubusercontent.com/53977614/174790130-8729d93d-f523-40b4-ba5b-6fdd0befb449.png)

**Trace**

[code]

i.e the error seems to be coming from here -

https://github.com/electron/fiddle/blob/c758cfbde38e3f05edbcf8c3b75b80126d044871/src/renderer/components/version-select

[2022-06-22 12:28] codebytere opened #1112 "Perf for the version chooser is intolerably terrible with all versions enabled"
With sufficient versions enabled, performance of the version chooser takes several seconds or more. This is very difficult to work with. We should see if we can fix this.

[2022-06-24 02:20] #1112 closed

[2022-06-24 06:41] #1111 closed

[2022-06-27 04:02] terry2010 opened #1121 "[bug] showMe->electron APIs->DesktopCapture not work on electron 19.0.6"
![图片](https://user-images.githubusercontent.com/1849037/175857443-6fb7cac9-06c4-4846-893c-2da54e428a78.png)

desktopCapturer move to main process since 17.0.0

[2022-06-27 04:20] BlackHole1 commented on #1121
It looks like we need to re-engineer the architecture of `Show Me` 🤔
Make it work: insert the correct code according to the different electron versions.

[2022-07-07 03:46] lu-tianyu opened #1125 "[Feature Request]: Support custom the process of run. ask for use in Apple M1"
Thanks for the great tools at first.

I'm currently develop an app by Electron Fiddle, but I met some problem when run my app in Fiddle.

My Macbook is M1, so the arch is ARM64. when I run app, the Fiddle is auto run: npm install xxx. But for some dependance, I need install by special command, for example: sharp

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/73834532

[2022-07-07 05:43] BlackHole1 commented on #1125
This is a good idea and I approve of this feature 👍. I will take time to look at this recently.

[2022-07-13 21:12] nornagon opened #1131 "Redo doesn't work"
**Version:** Version 0.29.1 (17.4.1)

To repro:

1. type some stuff
2. undo it (Cmd+Z or edit menu)
3. try to redo it (Cmd+Shift+Z or edit menu)

### Expected behavior
Undone edits are redone

### Actual behavior
Nothing happens

[2022-07-18 23:25] erickzhao commented on #1121
@BlackHole1 I think something might be interesting is to fetch the data from `electron/electron` `docs/fiddles` contents which is versioned by default

[2022-07-20 15:51] #978 closed

[2022-07-25 09:59] codebytere opened #1141 "Files from Fiddle in local directory aren't loaded"
When loading a local fiddle from a directory with multiple files, the Fiddle fails to load and results in missing and/or empty editors:

<img width="1512" alt="Screen Shot 2022-07-25 at 11 58 09 AM" src="https://user-images.githubusercontent.com/2036040/180750994-d9ad6a1b-e524-4520-8b19-ab350d29aa4f.png">

Probably refs https://github.com/electron/fiddle/pull/1120 - it doesn't look like this actua

[2022-08-02 13:06] bpasero opened #1142 "Ask to confirm before closing app and loosing data"
I was spending quite some time on writing a fiddle and then went over to publish as Gist. Here I was greeted with an error, so I opened settings and updated by GitHub access token.

Then I was thinking that the X button top keft closes settings (assuming this was another window on top of the fiddle window), but in fact it was closing the entire app and all my changes were lost.

![image](https://u

[2022-08-03 21:49] nornagon opened #1145 "version selector is flipping out"
Electron Fiddle Version 0.29.1 (17.4.1)

![Screen Shot 2022-08-03 at 2 47 58 PM](https://user-images.githubusercontent.com/172800/182718498-e65b04c9-f926-4e6b-8228-35a4eb12766d.png)

Not sure what causes it. Some stuff works fine:
![Screen Shot 2022-08-03 at 2 48 55 PM](https://user-images.githubusercontent.com/172800/182718588-dc1249ce-9f6c-4186-ab63-4559dc89a652.png)

other stuff is completely b

[2022-08-03 21:50] nornagon commented on #1145
Probably something to do with this?

![Screen Shot 2022-08-03 at 2 50 36 PM](https://user-images.githubusercontent.com/172800/182718802-6dee8dc3-37d2-4dd9-bee5-5199dfcbb5c4.png)

[2022-08-04 07:39] codebytere commented on #1145
Hmm - i'm not seeing anything like that 🤔

<img width="619" alt="Screen Shot 2022-08-04 at 9 38 49 AM" src="https://user-images.githubusercontent.com/2036040/182791385-29c7ea53-3eaf-4286-8a1a-1375bbc7c185.png">
<img width="604" alt="Screen Shot 2022-08-04 at 9 38 58 AM" src="https://user-images.githubusercontent.com/2036040/182791376-467b85b8-f47b-43ca-90c0-eb832222a773.png">

[2022-08-04 07:49] BlackHole1 commented on #1145
Everything works fine in my Windows virtual machine
<img width="523" alt="image" src="https://user-images.githubusercontent.com/8198408/182793037-b08e5366-7340-41f3-b18b-5bf225bb93b7.png">

[2022-08-04 09:01] BlackHole1 commented on #1145
I have located the problem. code:

https://github.com/electron/fiddle/blob/d77d3ac461f695d9cfb03113a541aae1307df1b1/src/renderer/components/version-select.tsx#L191-L199

But it's a bit tricky to fix

[2022-08-04 09:02] codebytere commented on #1145
@BlackHole1 can you say more? it's not clear what "the problem" is here in terms of why the versions wouldn't show as available.

[2022-08-04 09:10] BlackHole1 commented on #1145
When `disableDownload` conditions are met, the problem is reproduced.

https://github.com/electron/fiddle/blob/d77d3ac461/src/utils/disable-download.ts#L12-L20

This method can be changed to the following code for replication:

[code]

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/8198408/182809350-dfd754c0-be60-4e97-bcf3-c5e02e45313b.png">

From the errors reported,

[2022-08-04 09:12] BlackHole1 commented on #1145
Additional information: https://blueprintjs.com/docs/#core/components/tooltip

[2022-08-04 09:49] BlackHole1 commented on #1145
I've fixed the problem and I'll be submitting a PR later

[2022-08-05 14:24] #1145 closed

[2022-08-08 04:58] aryanshridhar opened #1154 "Can't scroll down in version-select dropdown"
Just noticed that I am unable to scroll further down in version select dropdown to view all the electron versions though I have marked them to be visible in the settings.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/53977614/183342400-2043cf21-e31d-44f8-b942-005d355ade1a.gif)

Might be related to #1146
cc @BlackHole1

[2022-08-08 05:36] BlackHole1 commented on #1154
Hmmm. A bit strange, I think it has something to do with react-window, @codebytere  what do you think?

[2022-08-08 08:11] #1154 closed

[2022-08-08 09:37] BlackHole1 opened #1156 "[BUG]: Cannot download electron"
During the download, I found that `SHASUMS256.txt` was a bunch of useless strings, causing the checksum to fail.

![image](https://user-images.githubusercontent.com/8198408/183386304-080ba0f1-b06c-48ce-869b-64d6f994a942.png)
![image](https://user-images.githubusercontent.com/8198408/183386330-deefb7ae-8cf8-4635-a63c-656de8d0e28a.png)

https://user-images.githubusercontent.com/8198408/183387661-239

[2022-08-08 09:41] BlackHole1 commented on #1156
Additions from @aryanshridhar :

(It works fine if I set it to DEFAULT)

[2022-08-08 09:48] BlackHole1 commented on #1156
I used the following code for the simulation but could not reproduce it.

[code]

[2022-08-08 10:32] BlackHole1 commented on #1156
I know what the content represents now. This is `gzip` content.

[2022-08-08 11:03] BlackHole1 commented on #1156
This was a bug in `got` that has been fixed in the new version of got, I will submit a PR for `electron/get` tomorrow

[2022-08-10 13:29] codebytere opened #1157 "Allow renaming editor files"
Right now, if a file is misnamed, one has to delete and add a new file with the correct name. It would be helpful if we could do in-place renaming of editors to mitigate this.

[2022-08-11 10:58] temberature commented on #258
SHASUMS256.txt may be broken, mannul download solve my problem

macOS

[2022-08-11 12:32] BlackHole1 commented on #258
@temberature See: https://github.com/electron/fiddle/pull/1159

[2022-08-11 17:55] #1156 closed

[2022-08-12 01:37] #1157 closed

[2022-08-12 07:44] codebytere opened #1161 "Version switching while app is running creates confusion"
As of now, I can witch versions while the app is running, potentially triggering new downloads and preventing me from stopping the app until i go back to tjhe version from which i ran it. We probably shouldn't allow this.

[2022-08-12 10:07] #1161 closed

[2022-08-15 16:56] akilan27 opened #1163 "File dialog overwrites the file manager's "Show hidden files" setting in Linux/GNOME"
Steps to Reproduce:

  - Go to Files (Nautilus) and make sure you can see hidden files (dotfiles) by checking the checkbox under Hamburger Menu -> Show Hidden Files.
   - Go to Fiddle
   - From menu choose File -> Open...
   - Open a file or click cancel.
   - Go to Files (Nautilus). You can no longer see hidden files. The checkbox under Hamburger Menu -> Show Hidden Files is now unchecked.

Ideal

[2022-08-15 18:10] erickzhao commented on #1163
Since this seems to be a general Electron issue rather than a Fiddle-specific bug, I'd track the issue upstream and close this one. I don't think there's anything actionable for this repository aside from bumping the Electron version if there's a fix available.

[2022-08-15 18:10] #1163 closed

[2022-08-16 03:44] BlackHole1 commented on #1163
See: https://github.com/electron/electron/issues/34706#issuecomment-1216053784

I will take the time to fix this recently 😃

[2022-08-16 13:18] BlackHole1 commented on #1163
@akilan27 I have just fixed the bug and I will submit a PR in the next two days

[2022-08-16 13:29] akilan27 commented on #1163
Thank you.

[2022-08-22 02:34] MoNaiZi opened #1167 "Hope to set up multiple languages, including Chinese, thank you"

[2022-09-01 10:38] Ashtreighlia opened #1172 "Only absolute paths seem to work for assets"
Hi,
I've stumpled on a unexpected behaviour while trying to load some assets like a background image, fonts, ect.
Relative paths won't load the requested files, while absolute paths work as expected.

File structure:
- project-folder
  - standard fiddle-files
  - background-image.png
  - fonts
    - font 1
    - font 2

The following relative paths for the background image did not work:
./backgrou

[2022-09-13 18:10] aryanshridhar commented on #644
Closing it! (handled in #1134)

[2022-09-13 18:10] #644 closed

[2022-09-15 21:10] codebytere opened #1173 "Fiddle assumes package.json versions are non-local and stores them as cloud versions"
When they _are_ local and don't exist on npm - say ex. `9999.9.9` for someone's local main, it's impossible to get rid of and will never work.

<img width="544" alt="Screen Shot 2022-09-15 at 2 11 14 PM" src="https://user-images.githubusercontent.com/2036040/190509514-0d265bee-c369-479a-a186-8c50f676bcdc.png">

[2022-09-17 07:06] kirtanchandak commented on #1085
Can I work on this issue ?

[2022-09-17 07:52] BlackHole1 commented on #1085
Sure.

[2022-09-18 09:15] H2crypt0 opened #1174 "Fiddle"

[2022-09-19 02:08] #1174 closed

[2022-09-19 23:23] georgexu99 opened #1176 "RFC: Add setting for publishGistAsRevision"
**problem**: it is hard to spot the differences between the fiddle default gist and bug repros.

**soln**:  add checkbox in setting to toggle publishing gists as revisions.

Github automatically shows diffs of previous uploads. We can leverage this by uploading the base fiddle template, then uploading the repro code as a gist update, rather than the initial publish.

[2022-09-19 23:23] georgexu99 commented on #1176
exploring implementation (can't self-assign due to lack of perms)

[2022-09-21 08:52] vikeshk1234 commented on #1070
i am also work this issue

[2022-09-21 08:53] vikeshk1234 commented on #1070
contexMenu page #1115

[2022-09-22 01:50] BlackHole1 commented on #1167
This is a good proposal for the electron to embrace developers from more countries.
I may not have much time to do this in the short term though, would you be interested in submitting a PR for this feature?

[2022-09-22 12:32] codebytere commented on #1172
@Daginberth can you please provide a repro, perhaps as a gist?

[2022-09-22 12:34] codebytere commented on #1131
Is this on macOS? I can't repro this with the provided steps - Cmd+Z and then Cmd+Shift+Z works just as expected 🤔

[2022-09-22 14:27] Daginberth commented on #1172
@codebytere an example can be found at https://gist.github.com/Daginberth/61e6fce8f962c398c6bbe503635a5d5e
The only file changes regarding this issue are in the index.html. You just got to add an image ("test-image.jpg") to the same directory as the index.html

[2022-09-23 09:20] #1131 closed

[2022-10-04 19:51] ngdream opened #1182 "put the console below"

[2022-10-04 19:52] ngdream commented on #1182
please put the console below

[2022-10-04 20:03] ngdream opened #1183 "add auto save setting"

[2022-10-05 14:52] stoichy commented on #1097
Hi! I would like to work on this.
Where would you suggest to place the "Not downloaded" button? What would be more intuitive, perhaps separating it from the others (Stable/Beta/etc.)?

[2022-10-06 18:59] #1182 closed

[2022-10-06 19:00] codebytere commented on #1183
This is not a complete issue. If you would like in the future to request certain features or report bugs we require issues be opened that provide context and effectively communicate to the developer team what is being asked.

[2022-10-06 19:00] #1183 closed

[2022-10-06 22:58] #1176 closed

[2022-10-06 22:58] georgexu99 commented on #1176
closed with https://github.com/electron/fiddle/pull/1177

[2022-10-09 13:59] thewheat commented on #690
I think this is now fixed

**14 editors no console**
<img width="1295" alt="image" src="https://user-images.githubusercontent.com/892961/194760665-0ce0d979-5941-47a6-a231-bb8ad1e58331.png">

**14 editors with console**
- all still showing
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/892961/194760686-6a58c435-5eba-4a29-8380-2c9d767b933a.png">

* * *

There is now a s

[2022-10-09 14:14] thewheat opened #1187 "Editors list does not scroll - items cut off when there are too many files"
When there are too files added, it can cause the top/bottom of the Editors list to get cut off as the section does not seeem to scroll (found while trying to test https://github.com/electron/fiddle/issues/690)

<img width="322" alt="image" src="https://user-images.githubusercontent.com/892961/194761450-90f18405-6144-44e7-aff4-b7f8c1c72c06.png">

Toggling Console can get the top bit to show but now

[2022-10-10 01:48] BlackHole1 commented on #690
@thewheat Thanks for your feelback!

[2022-10-10 01:48] #690 closed

[2022-10-10 01:50] BlackHole1 commented on #1187
@thewheat Would you be interested in submitting a PR for this?

[2022-10-10 06:15] thewheat commented on #1187
Sure I'll try give it a go! Haven't dealt with the UI side of things so may take a bit of digging to get that scrollbar design in

[2022-10-11 21:37] #1121 closed

[2022-10-18 10:48] codebytere opened #1198 "Fiddle fails to run when `@electron/remote` is required"
To reproduce:

1. Add `@electron/remote` to modules in the file tree sidebar
2. Run default fiddle

Observe the following error in Fiddle console:

[code]

Tracked back to https://github.com/electron/fiddle/pull/1134

[2022-10-18 16:39] #1198 closed

[2022-10-20 01:43] #1070 closed

[2022-10-22 10:50] aryanshridhar commented on #1167
I can work on it if it sounds fine.
(I have never worked with `react-intl`, so this might be a good challenge for me!)

[2022-10-24 07:41] #1187 closed

[2022-10-26 14:46] asdf-x commented on #548
how to resolve

[2022-11-01 10:19] aryanshridhar opened #1203 "Migrate `fiddle-core` to main process"
Covers the major part of code migration of Node API to the renderer process.

`IPC.INITIALIZE_FIDDLE`- Initialize the fiddle core in main process.
`IPC.RUN_FIDDLE`- IPC event to run fiddle.
`IPC.STOP_FIDDLE`- IPC event to stop the running fiddle.

[2022-11-01 11:00] aryanshridhar commented on #1203
(Will create separate pr for better coder review/git history)

[2022-11-07 05:34] kunal-iitj commented on #1142
can I pick this issue. I am a beginner to open source. I have done some work in react and node though.

[2022-11-07 19:02] reviewher opened #1205 "Installing private packages that are not hosted on the public npmjs registry"
Modules are currently tied to the public npmjs registry.  The search bar searches the public registry to add modules.  There is no way to side-load modules into the fiddle.

Ideally there would be a `package.json`-esque way to control the npm resolution process.

If that is not desirable, one workaround is to specify paths to tarballs downloaded with `npm pack $PACKAGE_NAME`

[2022-11-07 19:26] erickzhao commented on #1142
Hey @kunal-iitj feel free. PRs are always welcome.

[2022-11-07 23:32] BhinbahadurUK commented on #1142
Go for it all permission granted

UK Bhinbahadur

On Mon, 07 Nov 2022, 07:34 Kunal Tiwari, ***@***.***> wrote:

[2022-11-07 23:49] BhinbahadurUK commented on #1205
Add

Always configure add all functions

UK Bhinbahadur

On Mon, 07 Nov 2022, 21:02 reviewher, ***@***.***> wrote:

[2022-11-16 14:14] harshcut commented on #1142
I feel like opening a confirmation dialog on every close would be quite annoying. Maybe there is a better solution?

[2022-11-19 19:25] kirtanchandak commented on #1085
Hey, where is the settings page in electron website ?

[2022-11-21 20:12] erickzhao commented on #1085
@kirtanchandak this is not the repository for the electron website

[2022-11-25 14:47] axetroy opened #1210 "How to run example without sandbox"
I have an example need to run in no-sandbox mode (Can not rewrite to bradge) with Electron 12.x.x

So. there is no options for webPreferces:

[code]

[2022-11-25 14:50] #1210 closed

[2022-11-30 05:14] jrohlandt opened #1212 "Suggestion: Better names for directory that Electron Fiddle creates."
Usually a few months after I tested something with Electron Fiddle I notice strange directories in my AppData/roaming directory.

Names like reminiscent-stranger-sulks-123abc. By know I remember quickly that I probably tested something with Fiddle a while back and then I can just delete it.

But my suggestion would be to just create names like electron-fiddle-123abc. It's less confusing.

[2022-11-30 06:36] #1212 closed